* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f2ebe3; }

.container {
  position: relative;
  height: 100vh; }

.main-component {
  width: 600px;
  height: 450px;
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
  border-radius: 15px; }

.img {
  width: 50%; }

.img img {
  width: 300px; }

.product-info {
  padding: 32px; }

.category,
.title,
.description,
.price,
.btn {
  margin-bottom: 32px; }

.category {
  text-transform: uppercase;
  font-size: 11px; }

.title {
  font-size: 25px; }

.price {
  display: flex;
  justify-content: space-evenly; }
