@use "util" as u;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  // max-width: 1000px;
  gap: u.rem(40);
  width: min(100% - u.rem(40), u.rem(1000));
  margin-inline: auto;

  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: 40px;
  }
  &__main {
    background-color: var(--main-background-color);
    @include u.breakpoint(medium) {
      background-color: green;
    }
    @include u.breakpoint(large) {
      background-color: orange;
    }
  }
  &__sidebar {
    @include u.breakpoint-down(medium) {
      text-align: center;
    }
    @include u.breakpoint-down(small) {
      text-align: right;
    }
  }
  &__widget {
    padding: u.rem(16);
    background-color: var(--side-background-color);
    &--green {
      background-color: hsl(120, 20%, 17%);
    }
  }
}
