//Buttons
.button {
  padding: 1.5rem 3.5rem;
  border-radius: 10rem;
  cursor: pointer;
  border: 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from($limeGreen),
    to($brightCyan)
  );
  color: $white;
  font-weight: 400;
}
