//Buttons
.button {
  padding: 1.5rem 3.5rem;
  border-radius: 10rem;
  cursor: pointer;
  border: 0;
  background-image: linear-gradient(to right, $limeGreen, $brightCyan);
  color: $white;
  font-weight: 400;
}
