/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 36px;
}
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      hsla(111, 55%, 64%, 0.6),
      hsla(160, 64%, 43%, 0.6)
    ),
    url(/img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(50% 0%, 100% 0, 100% 65%, 0 93%, 0 0);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 50px;
  left: 50px;
}
.logo {
  height: 35px;
}
.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heading-primary {
}
.heading-primary-main,
.heading-primary-sub {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
}
.heading-primary-main {
  font-size: 60px;
  letter-spacing: 35px;
  animation: moveInLeft 1s;
}
.heading-primary-sub {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.5px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
